{% extends "layout.html" %}

{% block mainContent %}

  {% if errors %}
    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

	<form id="create-event" method="POST">
 <div <label for="title">Event title:</label>
    <input type="text" name="title"> </div>
    
<div <label for="location">Event location:</label>
    <input type="text" name="location"> </div>
    
<div <label for="image">Event image:</label>
    <input type="text" name="image"> </div>
    
<div <label for="year">Event year:</label>
    <input type="text" name="year"> </div>
    
    <select name="year">
        <option value="2015">2015</option>
        <option value="2016">2016</option>
    </select>
    
<div <label for="month">Event month:</label>
    <input type="text" name="month"> </div>
    
    <select name="month">
        <option value="January">0</option>
        <option value="February">1</option>
        <option value="March">2</option>
        <option value="April">3</option>
        <option value="May">4</option>
        <option value="June">5</option>
        <option value="July">6</option>
        <option value="August">7</option>
        <option value="September">8</option>
        <option value="October">9</option>
        <option value="November">10</option>
        <option value="December">11</option>
    </select>
    
<div <label for="day">Event day:</label>
    <input type="text" name="day"> </div>
    
<div <label for="hour">Event hour:</label>
    <input type="text" name="hour"> </div>
    
<div <label for="minute">Event minute:</label>
    <input type="text" name="minute"> </div>
  
<input type="submit" id= "submit">

    <!title, location, image, year, month, day, hour, and minute>
  </form>
  
  
{% endblock %}


